pyyaml
flatbuffers
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9; sys_platform == 'darwin'
torch==1.9+cpu; sys_platform == 'linux'
-i https://pypi.org/simple
--extra-index-url https://test.pypi.org/simple/
onnxruntime
